@font-face{
    font-family: 'Digital';
    src: url('font/digital.ttf');
}

* {
    font-family: 'Digital', sans-serif;
}

ul {
    text-align: left;
    background: linear-gradient(black 90%, white 105%);
    height: 50px;
    border-radius: 5px;
}

li {
    list-style: none;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding-right: 30px;
    border-right: 1px #666666 solid;
    cursor: pointer;
}

#chronometer{
    width: 200px;
    height: 200px;
    background: radial-gradient(black 62%, lime 70%);
    border-radius: 50%;
    float: left;
}

#laps {
    margin: 16px;
}

#lapContainer{
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: black;
    margin-left: 29px;
    border-radius: 39px;
}

.resize {
    width: 20px;
    position: relative;
    top: 15px;
    margin-left: 13px;
}


#timer{
    position: relative;
    top: 57px;
    color: lime;
    font-size: 45pt;
    text-align: center;
    left: 27px;
}

#seg{
    position: relative;
    left: -28px;
}

#mili{
    font-size: 25pt;
    position: relative;
    left: -28px;
    top: -54px;
}

.lapTimer{
    color: #00b3ff;
}